* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: color-mix(in oklch, var(--color-base-content) 35%, #0000) #0000;
}

html {
  --color-border: color-mix(in oklab, var(--color-base-content) 12%, transparent);
  background: var(--color-base-100);
  color: var(--color-base-content);
  line-height: 1.5;
}

/* 禁止左右拖动时出现的橡皮筋效果 */
html,
body {
  width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
