.tiptap {
  --image-opacity: 0.9;
	--image-border-radius: 6px;
  --transition-opacity: opacity 0.2s ease-in-out;
  [data-resize-wrapper]:hover {
    img {
      opacity: var(--image-opacity);
    }
    [data-resize-handle] {
      opacity: 1;
    }
  }
  .ProseMirror-selectednode {
    outline: 2px solid var(--color-primary);
		border-radius: var(--image-border-radius);
  }
  img {
    display: flex;
		align-items: center;
		justify-content: center;
    max-width: 100%;
		height: auto!important;
    border-radius: var(--image-border-radius);
    transition: var(--transition-opacity);
		
  }

  [data-resize-handle] {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* background: rgba(0, 0, 0, 0.5); */
    /* border: 1px solid rgba(255, 255, 255, 0.8); */
    border-radius: 2px;
    z-index: 10;
    opacity: 0;
    transition: var(--transition-opacity);
    &[data-resize-handle='left'],
    &[data-resize-handle='right'] {
      width: 10px;
    }

    &[data-resize-handle='left'] {
      left: -5px !important;
      cursor: ew-resize;
    }

    &[data-resize-handle='right'] {
      right: -5px !important;
      cursor: ew-resize;
    }

    &::after {
      content: '';
      display: block;
      width: 4px;
      height: 25%;
      max-height: 48px;

      border-radius: 24px;
			box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
      background: var(--color-primary);
    }
  }

  [data-resize-state='true'] {
    img {
      opacity: var(--image-opacity);
    }
    [data-resize-handle] {
      opacity: 1;
    }
  }
}
